<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome dude</title>
</head>
<body>
<h1>hello {{obj}}</h1>
<form action="vals/" method="get">
    <input type="text" name="num1" placeholder="number 1"><br>
    <input type="text" name="num2" placeholder="number 2"><br>
    <input type="submit">

</form>
</body>
</html>
<!--    <input type="button" name="" value="add" onclick="def addition">-->
<!--    <input type="button" name="" value="sub" onclick="def subtraction">-->
<!--    <input type="button" name="" value="div" onclick="def division">-->
<!--    <input type="button" name="" value="mul" onclick="def multiplication"><br><br>-->
<!--    <input type="submit" onclick="about.html">-->